*{
    margin:0;
}

.bg{
z-index:-4;
position:fixed;
}

header{
    z-index:5;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.351);
    backdrop-filter: blur(20px);

}

.logo{
    background-color: rgba(79, 78, 78, 0.351);
    backdrop-filter: blur(50px);
    color: #fff;
}

.headerLinks{
    margin-left: 60px;
    display:flex;
    flex-direction: row;
    column-gap: 30px;
    font-size: 19px;
    color:white;
}

.seperator{
    font-size:30px
}

.title{
    color:white;
    display:flex;
    justify-content: center ;
}

.firstpart{
    display:flex;
    justify-content: center ;
}

.descOfCrypto{
    color:white;
    display:flex;
    width: 60%;
    align-items: center;
}