*{
    margin:0;
    font-family: Roboto Condensed;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use min-height instead of height */
    background-color: rgb(255, 255, 255);
}

header{
    z-index:5;
    position: fixed;
    display:flex;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.898);
    backdrop-filter: blur(20px);

}

.sidebar {
    position: fixed;
    top: 50%; /* Vertically center the sidebar */
    right: 0;
    transform: translateY(-50%); /* Adjust to vertically center the sidebar */
    width: 200px; /* Adjust the width as needed */
    background-color: #3333338b;
    color: rgb(0, 0, 0);
    padding: 20px;
    z-index: 4; /* Above content but below header */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the sidebar items horizontally */
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-item {
    margin-bottom: 25px;
    cursor: pointer;
}

.sidebar-item.highlighted {
    font-weight: bold;
    color: aquamarine;
    /* Add any other highlighting styles you want */
}

a{
    text-decoration: none;
    color: #fff;
    
}



.logo{
    background-color: rgba(139, 139, 139, 0.259);
    backdrop-filter: blur(50px);
    color: #fff;
    width:500px;
}

.headerLinks{
    margin-left: 60px;
    display:flex;
    flex-direction: row;
    column-gap: 20px;
    font-size: 19px;
    color:white;
}

.seperator{
    font-size:30px
}

.bold{
    font-size: larger;
}

.content {
    margin-top: 147px; /* Adjust this value based on your header height */
    z-index:3;
    position: relative;
}

.Introduction{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    font-size: 15px;
    max-width: 1000px;
}

.title{
    font-size: 50px;
    margin-top: 50px;
    background-color: rgba(35, 35, 35, 0.476);
}

.center-container {
    text-align: center;
}

footer{
    display:flex;
    color:white;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    background-color: rgb(40, 40, 40);
}